.Container_Navigation {
    width: 100%;
    background-color: rgb(218, 133, 102);
    display: flex;
    justify-content: space-around;
    align-items:center ;
}

.menu__container {
    display: flex;
    width: 100hw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu__nav__item {
    font-size: 20px;
    color: rgb(212, 231, 162);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.menu__nav__item:not(:last-child) {
    margin-right: 20px;
}

