.container__form {
    padding: 20px;
   
display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-image: linear-gradient(to right,
            #d41d1d 10%,
            rgb(236, 106, 106) 45%,
            #d41d1d);

    min-height: 500px;
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.head_title {
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}