.logout__wrapper {
    display: flex;
    min-width: 150px ;
    justify-content: space-between;
    align-items: center;
    
}

.btn {
    display: flex;
    height: 30px;
    align-items: center;
    font-size: 18px;
     border-radius: 15px;
     border: none;
     background-color: goldenrod;
     color: black;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-left: 15px;
}

.email {
    color: white;
}
.btn:hover {
    background-color: black ;
    color: goldenrod;
}

.btn:active {
    color: red;
}